<div class="container col-6 mt-5">
<h1>My list of restaurants</h1>
<p><%= link_to "Add a new restaurant", new_restaurant_path %></p>
<br>
<% @restaurants.each do |restaurant| %>
<h2><%= link_to restaurant.name, restaurant_path(restaurant) %></h2>
  <p><%= restaurant.address %>, New Mexico</p>
  <hr>
<% end %>
</div>
